@font-face {
    font-family: 'RobotoMono';
    src: url('./fonts/Roboto-Thin.ttf');
}

* {
    font-family: 'RobotoMono', monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41,46,73));
}
h1 {
    margin-bottom: 30px;
}